<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Reservation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="booking.name" name="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Participants</ion-label>
      <ion-input type="number" [(ngModel)]="booking.participants" name="participants" required min="1"></ion-input>
    </ion-item>
    <div class="image-container">
      <ion-button (click)="selectImage()">Select Image</ion-button>
      <img *ngIf="booking.imageUrl" [src]="booking.imageUrl" alt="Selected Image"/>
    </div>
    <div class="button-container">
      <ion-button (click)="submitForm()" [disabled]="!isFormComplete()">Submit</ion-button>
    </div>
  </div>
</ion-content>
